% Gemeinsamer Unterschriftenblock. Erwartet: unterschrift_1, unterschrift_2.
% ===== Unterschriften =====
{\setlength{\tabcolsep}{0pt}\arrayrulecolor{ink}\setlength{\arrayrulewidth}{0.4pt}
\begin{tabularx}{\textwidth}{@{}X@{\hspace{12mm}}X@{}}
\rule{0pt}{14mm} & \rule{0pt}{14mm}\\
\cline{1-1}\cline{2-2}
\rule{0pt}{4mm}{\fs{8}{10}Datum, Unterschrift {{ unterschrift_1 }}} & \rule{0pt}{4mm}{\fs{8}{10}Datum, Unterschrift {{ unterschrift_2 }}}\\
\end{tabularx}}
