{% set fuss = "Arbeitszeitnachweis " ~ monat %}
{% include "praeambel" %}
\begin{document}

{% set untertitel = "Arbeitszeitaufzeichnung nach §\\,26 AZG" %}
{% set titel = "Arbeitszeitnachweis" %}
{% set titel_zeile2 = monat_label %}
{% include "kopf" %}

\vspace{4mm}
% ===== Stammdaten =====
\begin{tabularx}{\textwidth}{@{}XXX@{}}
\metalabel{Mitarbeiter:in} & \metalabel{Personalnummer} & \metalabel{Wochenmodell}\\[0.5mm]
{\fs{11}{13}\bfseries {{ mitarbeiter }}} & {{ personalnr }} & {{ wochenmodell }} · {{ wochenstunden }}/Woche\\[3mm]
\metalabel{Durchrechnung} & \metalabel{Gleitzeitrahmen} & \\[0.5mm]
{{ durchrechnung }} & {% if gleitzeit %}{{ gleitzeit }}{% else %}–{% endif %} &\\
\end{tabularx}

\vspace{5mm}
% ===== Kennzahlen =====
{\setlength{\tabcolsep}{3mm}\setlength{\arrayrulewidth}{0.4pt}\arrayrulecolor{border}
\begin{tabularx}{\textwidth}{|X!{\color{line}\vrule}X!{\color{line}\vrule}X!{\color{line}\vrule}X!{\color{line}\vrule}X!{\color{line}\vrule}X|}
\hline
{% for k in kpis %}\kpi{ {{- k.label -}} }{ {{- k.value -}} }{ {{- k.color -}} }{% if not loop.last %} & {% endif %}{% endfor %}\\
\hline
\end{tabularx}}

\vspace{5mm}
% ===== Tage =====
% Feste Breiten: 13+8+12+13+13+12+12+55+16 = 154 mm + 8 Zwischenräume × 2 × 1,5 mm (@{} außen) = 178 mm Textbreite
{\fs{8.5}{11}\renewcommand{\arraystretch}{1.05}\setlength{\tabcolsep}{1.5mm}\setlength{\arrayrulewidth}{0.3pt}
\begin{longtable}{@{}L{13mm}L{8mm}R{12mm}R{13mm}R{13mm}R{12mm}R{12mm}L{55mm}R{16mm}@{}}
\arrayrulecolor{ink}\specialrule{0.8pt}{0pt}{0pt}
\thead{Datum} & \thead{Tag} & \thead{Soll} & \thead{Kommen} & \thead{Gehen} & \thead{Pause} & \thead{Ist} & \thead{Abwesenheit} & \thead{Differenz}\\
\specialrule{0.8pt}{0pt}{0pt}
\endhead
\arrayrulecolor{line}\hline
\multicolumn{9}{r}{\fs{7.5}{9}\color{muted}Fortsetzung auf der nächsten Seite}\\
\endfoot
\endlastfoot
{% for d in days -%}
{% if d.holiday %}\rowcolor{holiday}{% elif d.weekend %}\rowcolor{weekend}{% endif %}
{% if d.weekend and not d.holiday %}\textcolor{light}{ {{- d.datum -}} } & \textcolor{light}{ {{- d.tag -}} }{% else %}{{ d.datum }} & {{ d.tag }}{% endif %} & {{ d.soll }} & {{ d.kommen }} & {{ d.gehen }} & {{ d.pause }} & {{ d.ist }} & {{ d.abwesenheit }} & \textcolor{ {{- d.diff_color -}} }{ {{- d.diff -}} }\\
\arrayrulecolor{line}\hline
{% endfor %}
\arrayrulecolor{ink}\specialrule{0.8pt}{0pt}{0pt}
\multicolumn{2}{@{}l}{\rule{0pt}{4mm}\bfseries Summe} & \bfseries {{ soll }} & & & \bfseries {{ pause }} & \bfseries {{ ist }} & {% if abwesenheit %}\bfseries Bezahlt {{ abwesenheit }}{% endif %} & \bfseries \textcolor{ {{- diff_color -}} }{ {{- diff -}} }\\
\end{longtable}}

\vspace{2mm}
{\fs{7.5}{9}\color{muted}Wochenende grau · Feiertag gelb\hspace{6mm}Erstellt am {{ erstellt_am }} · {% if vorschau %}\textcolor{err}{Vorschau, Monat nicht abgeschlossen}{% else %}Monat abgeschlossen{% endif %} · Datenbasis {{ hash }}\par}
{% if konten %}
\vspace{1mm}
{\fs{7.5}{9}\color{muted}{{ konten }}\par}
{% endif %}

\vfill
\vspace{6mm}
{% include "unterschriften" %}

\end{document}
