{% set fuss = "Urlaubskartei " ~ urlaubsjahr %}
{% include "praeambel" %}
\begin{document}

{% set untertitel = "Urlaubsaufzeichnung nach §\\,8 UrlG" %}
{% set titel = "Urlaubskartei" %}
{% set titel_zeile2 = "Urlaubsjahr " ~ urlaubsjahr %}
{% include "kopf" %}

\vspace{4mm}
% ===== Stammdaten =====
\begin{tabularx}{\textwidth}{@{}XXX@{}}
\metalabel{Mitarbeiter:in} & \metalabel{Personalnummer} & \metalabel{Eintritt · Anspruch}\\[0.5mm]
{\fs{11}{13}\bfseries {{ mitarbeiter }}} & {{ personalnr }} & {{ eintritt }} · {{ anspruch_jahr }} Tage / Jahr\\
\end{tabularx}

\vspace{6mm}
% ===== Konto und offene Ansprüche =====
\begin{minipage}[t]{0.53\textwidth}
\sectlabel{Urlaubskonto {{ urlaubsjahr }}}
{\renewcommand{\arraystretch}{1.3}\setlength{\tabcolsep}{2mm}\arrayrulecolor{line}
\begin{tabularx}{\linewidth}{@{}Xr@{}}
Übertrag aus Vorjahren & {{ uebertrag }}\\\hline
Anspruch {{ jahr_von_kurz }}{% if aliquot %} (aliquot){% endif %} & {{ anspruch }}\\\hline
{% if korrektur %}Korrekturen & {{ korrektur }}\\\hline{% endif %}
{% if verfall %}Verfall & {{ verfall }}\\\hline{% endif %}
Verbraucht bis {{ stichtag }} & {{ verbraucht }}\\\hline
Geplant (genehmigt) & {{ geplant }}\\\hline
\rowcolor{tint}\bfseries Rest gesamt & \bfseries {{ rest_gesamt }}\\\hline
\bfseries Rest nach Planung & \bfseries {{ rest }}\\\hline
\end{tabularx}}
\end{minipage}\hfill
\begin{minipage}[t]{0.42\textwidth}
\sectlabel{Offene Ansprüche je Jahr}
{\renewcommand{\arraystretch}{1.3}\setlength{\tabcolsep}{2mm}
\begin{tabularx}{\linewidth}{@{}Xrr@{}}
\arrayrulecolor{ink}\specialrule{0.8pt}{0pt}{0pt}
\thead{Jahr} & \thead{Rest} & \thead{Verjährung ab}\\
\specialrule{0.8pt}{0pt}{0pt}
{% for b in offene %}{{ b.jahr }} & {{ b.tage }} & {{ b.verfall_am }}\\\arrayrulecolor{line}\hline
{% endfor %}
{% if not offene %}\multicolumn{3}{@{}l}{\color{muted}Keine offenen Ansprüche.}\\\arrayrulecolor{line}\hline{% endif %}
\bfseries Gesamt & \bfseries {{ rest }} & \\
\end{tabularx}}
{% if naechster_verfall %}
\vspace{3mm}
{\setlength{\fboxsep}{0pt}\fcolorbox{noteline}{notebg}{\parbox{\dimexpr\linewidth-0.8pt}{\vspace{2mm}\hspace{3mm}\parbox{\dimexpr\linewidth-6mm}{\raggedright\fs{8}{10}\color{notefg}{{ naechster_verfall }} (§\,4 Abs\,5 UrlG) – nach EuGH nur nach Aufforderung zur Konsumation und Belehrung durch den Arbeitgeber.}\hspace{3mm}\vspace{2mm}}}}
{% endif %}
\end{minipage}

\vspace{7mm}
% ===== Buchungen =====
\sectlabel{Buchungen {{ urlaubsjahr }}}
% Feste Breiten: 17+24+44+11+11+51 = 158 mm + 5 Zwischenräume × 2 × 2 mm (@{} außen) = 178 mm Textbreite
{\fs{8.5}{11}\renewcommand{\arraystretch}{1.25}\setlength{\tabcolsep}{2mm}
\begin{longtable}{@{}L{17mm}L{24mm}L{44mm}R{11mm}R{11mm}>{\leavevmode\raggedright\arraybackslash\fs{7.5}{9}\color{muted}}p{51mm}@{}}
\arrayrulecolor{ink}\specialrule{0.8pt}{0pt}{0pt}
\thead{Datum} & \thead{Art} & \thead{Zeitraum / Bezug} & \thead{Tage} & \thead{Rest} & \thead{Bemerkung}\\
\specialrule{0.8pt}{0pt}{0pt}
\endhead
{% for b in buchungen %}{{ b.datum }} & {{ b.art }} & {{ b.bezug }} & {% if b.neg %}\textcolor{err}{ {{- b.tage -}} }{% elif b.null %}\textcolor{muted}{ {{- b.tage -}} }{% else %}{{ b.tage }}{% endif %} & {{ b.rest }} & {{ b.bem }}\\\arrayrulecolor{line}\hline
{% endfor %}
{% if not buchungen %}\multicolumn{6}{@{}l}{\color{muted}Keine Buchungen.}\\\arrayrulecolor{line}\hline{% endif %}
\end{longtable}}

{% if historie %}
\vspace{6mm}
\sectlabel{Vorjahre}
{\fs{8.5}{11}\renewcommand{\arraystretch}{1.25}\setlength{\tabcolsep}{2mm}
\begin{tabularx}{\textwidth}{@{}Xrrrrrr@{}}
\arrayrulecolor{ink}\specialrule{0.8pt}{0pt}{0pt}
\thead{Urlaubsjahr} & \thead{Anspruch} & \thead{Übertrag} & \thead{Korrektur} & \thead{Verbrauch} & \thead{Verfall} & \thead{Rest}\\
\specialrule{0.8pt}{0pt}{0pt}
{% for h in historie %}{{ h.jahr }} & {{ h.anspruch }} & {{ h.uebertrag }} & {{ h.korrektur }} & {{ h.verbrauch }} & {{ h.verfall }} & {{ h.rest }}\\\arrayrulecolor{line}\hline
{% endfor %}
\end{tabularx}}
{% endif %}

\vspace{3mm}
{\fs{7.5}{9}\color{muted}Stand {{ stichtag }} · Erstellt am {{ erstellt_am }} · Angaben in Arbeitstagen laut Wochenmodell, Feiertage zählen nicht · Verbrauch nach dem ältesten Anspruch zuerst · Verjährung gemäß §\,4 Abs\,5 UrlG frühestens zwei Jahre nach Ende des Urlaubsjahres, nur nach Aufforderung und Belehrung (EuGH C-619/16, C-684/16)\par}

\vfill
\vspace{8mm}
{% include "unterschriften" %}

\end{document}
